.git
.idea
.venv
__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.uv-cache
.coverage
.coverage.*
htmlcov
build
dist
wheels
*.egg-info
.env
*.log
files/logs/*
Dockerfile
docker-compose*.yml
